<%= form_for @company do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :description %>
<%= f.text_area :description %>

<%= f.label :price %>
<%= f.number_field :price %>


<% for industry in Industry.all %>
           <div>
               <%= check_box_tag "company[industry_ids][]", industry.id, @company.industries.include?(industry) %>
               <%= industry.name %>
           </div>
       <% end %>

<%= f.submit %>
<% end %>
